<h2>Brewing</h2>
<select ng-model="methods">
  <option ng-repeat="method in methods" value="">
    {{method}}
  </option>

</select>
<div class="coffee" ng-repeat="bean in beans" ng-model="showStatus">
  <button type="button" class="btn btn-primary" ng-click="showInfo()">{{bean.name}}</button>

  <p ng-show="showStatus">
    Name: {{bean.name}}<br />
    Origin: {{bean.origin}}<br />
    Roast: {{bean.roast}}<br />
    Tasting Notes: {{bean.flavor}}<br />
    Body: {{bean.body}}<br />
    Acidity: {{bean.acidity}}<br />
    Price: {{bean.price}}<br />
  </p>
</div>
